<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px" />

# Python Ladder Challenge - Notebook 2

_Author:_ Tim Book

# Climb the Ladder!
Our class moves quickly! Sometimes, it feels like we make leaps in logic that are a bit too big. Learn Python _slowly_, by doing many, many examples. Problems in this notebook start out easy and progressively get harder, so that the next rung of the Python ladder is always within reach.

# Part IV: Conditionals and Loops

34) Print out the numbers 1 through 10.

In [196]:
# Method One
# In English: "For each number in the range 1 up to 11, print the number."
# - `num` can be any variable name -- you get to name it.
# - Note by convention do not use `i` here, since `i` stands for index and we are not indexing into anything.
for num in range(1, 11):
    print(num)

1
2
3
4
5
6
7
8
9
10

In [197]:
# Method Two
print(list(range(1, 11)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

35) Print out the odd numbers between 1 and 20 by using the third parameter in the `range()` function.

In [198]:
# Method One
for num in range(1, 21, 2):
    print(num)

1
3
5
7
9
11
13
15
17
19

In [199]:
# Method Two
print(list(range(1, 21, 2)))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

36) Print out the odd numbers between 1 and 20 by checking if the number is even before printing.

In [200]:
# For positive integers, `num % 2` evaluates to the remainder of `num` when divided by 2.
# - Even numbers have a remainder of 0 (they divide evenly), while odd numbers have a remainder of 1.
# - Hence, `num % 2 == 1` evaluates to `True` if `num` is odd and `False` otherwise.

# In English: "For each number in the range 1 up to 21, if the number has a remainder of 1 when divided by two then print it."
for num in range(1, 21):
    if num % 2 == 1:
        print(num)

1
3
5
7
9
11
13
15
17
19

37) What is the sum of the first 100 integers? Hint: Create a variable `total` equal to zero, and increment `total` inside a loop.

In [201]:
# Method One
total = 0
for n in range(101):
    total += n   # same as total = total + n

total

5050

In [202]:
# Method Two (preferred in practice)
sum(range(101))

5050

38) For each friend in your `friends` list, print `'PERSON IS AWESOME!'` in all caps, where `PERSON` is of course replaced with your friend's name.

In [203]:
friends = ["Alice", "Bob", "Charlie", "Debbie"]

In [204]:
# By convention, lists are plural.
# - When looping through a pluralized list variable, we typically use the singular form as the looping variable
for friend in friends:
    print(f'{friend.upper()} IS AWESOME!')

ALICE IS AWESOME!
BOB IS AWESOME!
CHARLIE IS AWESOME!
DEBBIE IS AWESOME!

39) Similar to the last problem, print `'PERSON IS AWESOME!'` for each friend in your friends list _only if their name ends in a vowel_. Otherwise, print `"person is ok..."` (all lowercase).

In [205]:
# 'aeiou' is a constant, so for readability we put it into a variable `VOWELS` which describes what it means.
# Again for readability, we break the inner code into two steps using the intermediate variable `last_letter`.
# - Note that `A in B` is valid for any B that can be iterated through, including lists/sets/dicts/strings.
# - So, we are testing whether `last_letter` is one of the characters in the string `'aeiou'`.

VOWELS = 'aeiou'
for friend in friends:
    last_letter = friend[-1].lower()
    if last_letter in VOWELS:         # Instead of 'aeiou', we use a variable describing what it is
        print(f'{friend.upper()} IS AWESOME!')

ALICE IS AWESOME!
CHARLIE IS AWESOME!
DEBBIE IS AWESOME!

40) For each number between 1 and 30 (inclusive), if a number is divisible by 3, print `'Fizz'`. Otherwise, just print the number.

In [206]:
# METHOD ONE
for num in range(1, 31):
    if num % 3 == 0:
        print('Fizz')
    else:
        print(num)

1
2
Fizz
4
5
Fizz
7
8
Fizz
10
11
Fizz
13
14
Fizz
16
17
Fizz
19
20
Fizz
22
23
Fizz
25
26
Fizz
28
29
Fizz

In [207]:
# METHOD TWO: This uses the ternaray operator `X if <condition> else Y`
# - It is more compact, but it is not as easily extendable!
for num in range(1, 31):
    print('Fizz' if num % 3 == 0 else num)

1
2
Fizz
4
5
Fizz
7
8
Fizz
10
11
Fizz
13
14
Fizz
16
17
Fizz
19
20
Fizz
22
23
Fizz
25
26
Fizz
28
29
Fizz

41) For each number between 1 and 30 (inclusive), if a number is divisible by 5, print `"Buzz"`. Otherwise, just print the number.

In [208]:
for n in range(1, 31):
    if n % 5 == 0:
        print('Buzz')
    else:
        print(n)

1
2
3
4
Buzz
6
7
8
9
Buzz
11
12
13
14
Buzz
16
17
18
19
Buzz
21
22
23
24
Buzz
26
27
28
29
Buzz

42) **FIZZBUZZ!** For each number between 1 and 30 (inclusive),
* if a number is divisible by 3, print `'Fizz'`
* if a number is divisible by 5, print `'Buzz'`
* if a number is divisible by both 3 and 5, instead print `'FizzBuzz'`,
* otherwise, just print the number

This problem is the famous "FizzBuzz" problem - and is a very common interview coding challenge! If you can do this without help, you're making awesome progress! Well done!

In [209]:
# METHOD ONE
for num in range(1, 31):
    if num % 15 == 0:        # alternatively -- if n % 3 == 0 and n % 5 == 0:
        print('FizzBuzz')
    elif num % 3 == 0:
        print('Fizz')
    elif num % 5 == 0:
        print('Buzz')
    else:
        print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz

In [210]:
# METHOD TWO - More compact
for num in range(1, 31):
    fizzbuzz = ''
    if num % 3 == 0: fizzbuzz += 'Fizz'
    if num % 5 == 0: fizzbuzz += 'Buzz'
    
    print(fizzbuzz if fizzbuzz else num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz

## Part IV: Optional Challenge

43) Define some string `sentence`. If you can't think of a good one, feel free to use `fact` from the previous notebook.

In [211]:
sentence = 'Once upon a time, there was a goose.'

44) Count the number of vowels in `sentence` (no, y is not a vowel).
* _Hint:_ What happens if you loop through a string?

In [212]:
# METHOD ONE
VOWELS = 'aeiou'

num_vowels = 0
for char in sentence.lower():     # For each character in the string ...
    if char in VOWELS: 
        num_vowels += 1

num_vowels

14

In [213]:
# METHOD TWO
# In Python, `True` is 1 and `False` is 0. For example, `True + True + False == 2`.
# - We will use this fact often throughout the course.
# - Below, `char in VOWELS` is `True` if the character is a vowel and `False` otherwise.
# - This lets us avoid the `if` statement, so the result looks more compact.
VOWELS = 'aeiou'

num_vowels = 0
for char in sentence.lower():     # For each character in the string ...
    num_vowels += char in VOWELS  # char in VOWELS is either True (1)

num_vowels

14

45) Define a variable `sentence_rm` that is equal to `sentence` with all vowels removed. 
* _Hint:_ This is a tough one. Start out with an empty string and concatenate all of the consonants to it inside a loop.

In [214]:
# METHOD ONE
VOWELS = 'aeiou'

sentence_rm = ''
for char in sentence:
    if char not in VOWELS:
        sentence_rm += char

sentence_rm

'Onc pn  tm, thr ws  gs.'

In [215]:
# METHOD TWO: More compact via the ternary operator `X if <condition> else Y`
VOWELS = 'aeiou'

sentence_rm = ''
for char in sentence:
    sentence_rm += '' if char in VOWELS else char

sentence_rm

'Onc pn  tm, thr ws  gs.'

In [216]:
# METHOD THREE (preferred in practice)
# The main flaw in the previous methods is that they will be very slow for long strings.
# - Strings are immutable, so adding an extra character results in the entire string being copied to new memory every time.
# - Here, our code was getting lengthy so we used `\` to extend the line to the next line.
sentence_rm = sentence.replace('a', '').replace('e', '').replace('i', '')\
                      .replace('o', '').replace('u', '')
sentence_rm

'Onc pn  tm, thr ws  gs.'

46) Create a variable `fav_number` equal to whatever is your favorite integer. Write a loop to determine if `fav_number` is prime. Recall that a prime number is any number whose only divisors are 1 and itself. For example, 6 is not prime since it's divisible by 1, 2, 3, and 6. But 7 _is_ prime since it's only divisible by 1 and 7.

In [217]:
# Technical note: This is a very slow way of testing whether a number is prime!
# - For example, there is no need to test for any divisors > sqrt(fav_number), since they will never divide evenly.

fav_number = 37              # Prime
is_prime = fav_number > 1    # Initially assume the number is prime if > 1 (this ensures <= 1 are not prime)

# A number is prime if it has exactly two divisors -- 1 and itself.
# We exclude 1 and fav_number from the loop.
# - So, if there are *any* divisors inbetween, it is prime.
for num in range(2, fav_number):
    if fav_number % num == 0:   # Is `fav_number` evenly divisible by `num`?
        is_prime = False
        break                   # A single divisor indicates it is not prime. So, we leave the loop immediately to save time.

is_prime

True

47) A palindromic number reads the same both ways. For example, 1234321 is a palindrome. Write an `if` statement to test whether or not a number is palindromic.

In [218]:
# METHOD ONE
num = 1234321
digits = str(num)                   # To look at individual digits, must convert to a string first

if digits == digits[::-1]:          # Is `digits` identical to the reverse of `digits`?
    print('Is a palindrome!')
else:
    print('Is not a palindrome.')

Is a palindrome!

48) Find the largest palindrome made from the product of two two-digit numbers.
* _Tip:_ Do not worry about the "efficiency" of your answer! The easiest answer is very inefficient.

In [219]:
# METHOD ONE
TWO_DIGIT_NUMS = range(10, 100)         # Give the constant value a name to improve readability

largest_palindrome = 11                 # Set to a low number (in this case, we know 11 is a valid palindrome)
for a in TWO_DIGIT_NUMS:
    for b in TWO_DIGIT_NUMS:
        digits = str(a * b)             # For readability, pre-process digits into a variable first
        if digits == digits[::-1]:      # Is a*b a palindrome?
            largest_palindrome = max(a * b, largest_palindrome)   # if a*b > largest, let largest = a * b

largest_palindrome

9009

In [220]:
# METHOD TWO - It is much more readable to use a function -- especially if we will use `is_palindrome` more than once!
TWO_DIGIT_NUMS = range(10, 100)         # Give the constant value a name to improve readability

def is_palindrome(num):
    """Returns True if `num` is palindromic, else False."""
    digits = str(num)
    return digits == digits[::-1]

is_palindrome(1234321)  # Test

True

In [221]:
largest_palindrome = 11
for a in TWO_DIGIT_NUMS:
    for b in TWO_DIGIT_NUMS:
        if is_palindrome(a * b):      # Note how the code is now easy-to-read and self-commenting
            largest_palindrome = max(a * b, largest_palindrome)   # if a*b > largest, let largest = a * b

largest_palindrome

9009

In [222]:
# METHOD THREE
# Amazingly, we can do this in one line using a list comprehension! (Preview for Part V :D)

max(a * b for a in TWO_DIGIT_NUMS for b in TWO_DIGIT_NUMS if is_palindrome(a * b))

9009

# Part V: List Comprehensions

**Disclaimer:** Many (maybe all) of these exercises can be done without a list comprehension. However, listcomps are often the easiest way to solve a problem like this. Listcomps are also optimized in Python, meaning they are also often the _fastest_ way to solve a problem. In fact, **every problem in this section can be solved in one line of code!**

---
**IMPORTANT NOTE: Consider all ranges in this section to be *inclusive*.**

49) Create a list of the numbers 1 through 10.

In [223]:
# METHOD ONE (preferred)
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [224]:
# METHOD TWO: List comprehension

# This code is the same as:
#    new_list = []
#    for n in range(1, 11):   # The loop is verbatim the final part of the list comprehension
#        new_list.append(n)   # `n` -- what to append -- is the first part of the list comprehension

[n for n in range(1, 11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

50) Create a list of the squares of the numbers between 1 and 10.

In [225]:
# Because list comprehensions are compact, it is more acceptable to use one-letter variables.
# - So here, we use `n` instead of `num`.
[n*n for n in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

51) Create a list of all the even numbers between 18 and 47.

In [226]:
# This is called a "filter"
[n for n in range(18, 48) if n % 2 == 0]

[18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46]

52) Create a list of the squares of the even numbers between 1 and 20.

In [227]:
[n*n for n in range(1, 21) if n % 2 == 0]

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

53) What is the sum of the cubes of the numbers between 7 and 37?

In [228]:
# METHOD ONE
# First, the list is created via the list comprehension. Then, its elements are summed.
sum([n*n*n for n in range(7, 37)])

443115

In [229]:
# METHOD TWO (preferred in practice)
# Without the brackets, this is not a list comprehension but a _generator_.
# - Instead of wasting time and memory creating a list first, 
#      each element is created on the fly when it is looped over in `sum`.
sum(n*n*n for n in range(7, 37))

443115

54) Create a list of all of the numbers divisible by either 3 or 5 (or both) between 1 and 30.

In [230]:
# If a number is divisible by 3, it is also divisible by 3 or 5!
[n for n in range(1, 31) if n % 3 == 0 or n % 5 == 0]

[3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30]

55) Redefine this list to be all uppercase.

In [231]:
friends = ["Alice", "Bob", "Charlie", "Derek"]

In [232]:
friends = [friend.upper() for friend in friends]

56) Remove all elements from `friends` whose names do not end in a vowel.

In [233]:
# METHOD ONE
[f for f in friends if f[-1].lower() in 'aeiou']

['ALICE', 'CHARLIE']

In [234]:
# METHOD TWO (preferred) - Easier to read using a function!
def ends_in_vowel(s):
    return s[-1].lower() in 'aeiou'

[f for f in friends if ends_in_vowel(f)]   # Much easier to understand

['ALICE', 'CHARLIE']

## Part V: Optional Challenge

57) Take the `sentence` you used earlier and remove the vowels again. This time, using a one-line list comprehension.

* _Hint:_ You'll find the `.join()` method to be useful here.

In [235]:
# `.join()` is strange at first, because it acts on the separator. 
# Examples: - ''.join(['a', 'b', 'c']) == 'abc'
#           - '&&&'.join(['a', 'b', 'c']) == 'a&&&b&&&c'
''.join([c for c in sentence if c not in 'aeiou'])

'Onc pn  tm, thr ws  gs.'

58) You need to access Excel files that have names like `Jan 5.xlsx` or `Mar 15.xlsx`. Create a list of January 1 through January 31 like this. That is, create the list of: `['Jan 1.xlsx', 'Jan 2.xlsx', ... , 'Jan 31.xlsx']`.

In [236]:
[f'Jan {n}.xlsx' for n in range(1, 32)]

['Jan 1.xlsx',
 'Jan 2.xlsx',
 'Jan 3.xlsx',
 'Jan 4.xlsx',
 'Jan 5.xlsx',
 'Jan 6.xlsx',
 'Jan 7.xlsx',
 'Jan 8.xlsx',
 'Jan 9.xlsx',
 'Jan 10.xlsx',
 'Jan 11.xlsx',
 'Jan 12.xlsx',
 'Jan 13.xlsx',
 'Jan 14.xlsx',
 'Jan 15.xlsx',
 'Jan 16.xlsx',
 'Jan 17.xlsx',
 'Jan 18.xlsx',
 'Jan 19.xlsx',
 'Jan 20.xlsx',
 'Jan 21.xlsx',
 'Jan 22.xlsx',
 'Jan 23.xlsx',
 'Jan 24.xlsx',
 'Jan 25.xlsx',
 'Jan 26.xlsx',
 'Jan 27.xlsx',
 'Jan 28.xlsx',
 'Jan 29.xlsx',
 'Jan 30.xlsx',
 'Jan 31.xlsx']

59) Below is a list of amounts in euros. Create a new list, `dollars`, which is these amounts converted to U.S. dollars. There are 1.1 dollars per euro.

In [237]:
euros = [4.50, 6.70, 3.25, 9.99, 12.75, 0.35]

In [238]:
# `euro` is not the singular of `euros`, so we'll use `amt` here instead (for amount)
dollars = [1.1 * amt for amt in euros]

60) Below is a list of heights in inches. In order to ride a roller coaster, you must be at least 5 feet tall (60 inches). Filter this list to be _only_ those heights tall enough to ride.

In [239]:
heights = [71, 48, 55, 65, 68, 60, 58, 53]

In [240]:
[h for h in heights if h >= 60]

[71, 65, 68, 60]

61) Repeat the above exercise, except replace the lower heights with a `None` instead of dropping them.
* _Hint:_ Python has an in-line `if` statement, sometimes called a _ternary operator_ that you might find useful here. For example:

```
print('Tall enough' if 72 > 60 else 'Too short')
print('Tall enough' if 52 > 60 else 'Too short')
```

In [241]:
# Note the translation of this is:

#    new_heights = []
#    for h in heights:
#        new_heights.append(h if h >= 60 else None)

[h if h >= 60 else None for h in heights]

[71, None, None, 65, 68, 60, None, None]

62) Here are more heights below. However, this time, the information is contained in a dictionary. Create a list of the names _and ONLY the names_ of the people who are tall enough to ride the roller coaster.

* _Hint:_ How can you loop through a dictionary?

In [242]:
people = {
    'Aaron': 58,
    'Barbara': 66,
    'Clarence': 62,
    'Donovan': 55,
    'Erika': 70,
    'Fernando': 72
}

In [243]:
# `people.items()` loops through each key-value pair as a tuple:
# - i.e. it generates the tuples: `[('Aaron', 58), ('Barbara', 66), ...]`
# Then tuple unpacking is used to unpack each:
# - i.e. `name,height = ('Aaron', 58)` sets `name = 'Aaron'` and `height = 58`

# The translation is:

# tall_people = []
# for name,height in people.items():
#     if height >= 60:
#         tall_people.append(name)


[name for name,height in people.items() if height >= 60]

['Barbara', 'Clarence', 'Erika', 'Fernando']

63) Below we have some more data on our classmates. This time, the dictionary values are test scores. A student's final grade is their _maximum_ score on these three tests. Create a list of the students' final grades.

In [244]:
people = {
    'Aaron': [87, 52, 78],
    'Barbara': [92, 79, 85],
    'Clarence': [42, 68, 55],
    'Donovan': [95, 100, 87],
    'Erika': [62, 88, 47],
    'Fernando': [84, 99, 0]
}

In [245]:
[max(scores) for scores in people.values()]

[87, 92, 68, 100, 88, 99]

64) Repeat the above problem, except create a _dictionary_ of the final scores, where the dictionary keys are the names, and the dictionary values are the final grade.

* _Hint:_ You can do **dictionary comprehension** to solve this problem! Yes, it exists!

In [246]:
{name: max(scores) for name,scores in people.items()}

{'Aaron': 87,
 'Barbara': 92,
 'Clarence': 68,
 'Donovan': 100,
 'Erika': 88,
 'Fernando': 99}

65) Using the two lists defined below, create the following resulting list:

`['AZ', 'BY', 'CX', 'DW', 'EV']`

* _Hint:_ Check out the `zip()` function.

In [247]:
letters_a = ['A', 'B', 'C', 'D', 'E']
letters_z = ['Z', 'Y', 'X', 'W', 'V']

In [248]:
# Similarly to `.items()`, `zip` puts together the elements at index 0, then index 1, etc.
# - i.e. `zip(letters_a, letters_z)` generates the tuples: `('A', 'Z'), ('B', 'Y'), ('C', 'X'), ...`
# Then, the loop performs tuple unpacking on each of the tuples:
# - i.e. `a,z = ('A', 'Z')` sets `a = 'A'` and `z = 'Z'`.

[a + z for a,z in zip(letters_a, letters_z)]   # `a` and `z` are strings, and so `a + z` is a string!

['AZ', 'BY', 'CX', 'DW', 'EV']

66) Using `letters_a` defined in the previous problem, create the following list:

```
[
    'A is letter 1 of the alphabet',
    'B is letter 2 of the alphabet',
    ...
]
```

* _Hint:_ Checkout the `enumerate()` function.

In [249]:
# `enumerate(letters_a)` works the same as `zip` and `.items()`!
# It generates a tuple that pairs each index with its element.
# - i.e. it generates: `(0, 'A'), (1, 'B'), (2, 'C'), (3, 'D'), (4, 'E')`.
# Then, the loop performs tuple unpacking on each:
# - i.e. `i,letter = (0, 'A')` sets `i = 0` and `letter = 'A'`.

[f'{letter} is letter {i+1} of the alphabet' for i,letter in enumerate(letters_a)]

['A is letter 1 of the alphabet',
 'B is letter 2 of the alphabet',
 'C is letter 3 of the alphabet',
 'D is letter 4 of the alphabet',
 'E is letter 5 of the alphabet']

# Part VI: Libraries, imports and some more math!

67) Import the `math` library

In [250]:
import math

68) The `math` library has a lot of cool stuff in it. For this problem, evaluate the following math expressions:

a) $\sin{\frac{\pi}{2}}$

In [251]:
# Note that `2` evaluates to an int, while `2.` evaluates to a float.
# - In this case, `math.pi` is a float so both will evaluate the same way.
# - However, if you know the result should be a float, many coders will put a period after it.
# - Doing so 1) informs the reader the result will be a float, and 2) forces the result to be a float (e.g. in Python 2)
math.sin(math.pi / 2.)

1.0

b) $\ln{\sqrt{e}}$
* _Hint:_ A logarithm with base $e$ is represented by just `log` in `math`. In fact, throughout the course, $\log$ with no subscript will always denote the natural log (ie, log base $e$).

In [252]:
# Natural log -- note ln(sqrt(e)) == ln(e^0.5) == 0.5 * ln(e) == 0.5 * 1 == 0.5.
math.log(math.sqrt(math.e))

0.5

c) $e^{3!}$

In [253]:
# METHOD ONE
math.pow(math.e, math.factorial(3))

403.428793492735

In [254]:
# METHOD TWO (should be identical)
math.e ** math.factorial(3)

403.428793492735

69) Two popular math functions are the "round up" and "round down" functions. In computer science, we call them the "ceiling" and "floor" functions. They're used and denoted as follows:

* `ceil(3.8)` $= \lceil 3.8 \rceil = 4$
* `ceil(3.2)` $= \lceil 3.2 \rceil = 4$
* `floor(3.8)` $= \lfloor 3.8 \rfloor = 3$
* `floor(3.2)` $= \lfloor 3.2 \rfloor = 3$

We _only_ need these two functions out of the `math` library. Use an `import` statement to import _only_ these two functions and verify the above examples are true.

In [255]:
from math import floor, ceil

In [256]:
print(ceil(3.8))
print(ceil(3.2))
print(floor(3.8))
print(floor(3.2))

4
4
3
3

70) We can also _alias_ library names if they're too long and we will be using them often. As we will do many times in this course, import the following three libraries:

* Import the `numpy` library, aliasing it as `np`
* Import the `pandas` library, aliasing it as `pd`
* Import the `matplotlib.pyplot` library and submodule, aliasing it as `plt`

In [257]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

71) You can also import everything from a library all at once without needing to prefix it:

`from math import *`

For this question your task is: _never, **ever**_ do this.

Why?
1. It "pollutes" the namespace with variable names that could easily be overwritten on accident.
    - For example, after the import we could accidentally define `sin = 'without'` then be surprised when `sin(0.5)` no longer works!
2. It does not show the reader which module a given function came from. 
    - For example, we see above that `ceil` came from the `math` library since it was noted in the import.
    - If we use * is much more difficult to determine which module `ceil` is from.